<%= render 'shared/error_messages', :object => f.object %>
<div class="field">
  <%= f.label :title, "TITLE" %><br />
  <%= f.text_field :title %>
</div>
<div class="field">
  <%= f.label :date, "DATE" %><br />
  <%= f.text_field :date %>
</div>
<div class="field">
  <%= f.label :location, "LOCATION" %><br />
  <%= f.text_field :location %>
</div>
